network:
  version: 2
  ethernets:
    {{ edge_external_iface }}:
      dhcp4: true
      dhcp4-overrides:
        use-routes: false
      dhcp6-overrides:
        use-routes: false
    {{ edge_internal_iface }}:
      routes:
        - to: default
          via: 192.168.56.15
      nameservers:
        addresses: [192.168.56.15]
